@model Skill

<div class="container" style="margin-top:100px">
    <h2>Skill Create</h2>
    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
            <label for="percent">Percent</label>
            <input type="text" class="form-control" asp-for="@Model.SkillPercent">
            <span class="text text-danger" asp-validation-for="@Model.Name"></span>
            <span class="text text-danger" asp-validation-for="@Model.SkillPercent"></span>

            <div class="form-group">
                <label asp-for="TeacherId">Teacher</label>
                <select asp-for="TeacherId" class="form-select" aria-label="Default select example">
                    <option selected value="0">Select one of them</option>
                    @foreach (var item in ViewBag.Teachers)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="TeacherId" class="text text-danger"></span>
            </div>
            @Html.AntiForgeryToken()
        </div>
        <button type="submit" style="margin-top:20px">Create</button>
    </form>
</div>

